// .flex params ( @direction, @wrap, @justify-content, @align-items )

aside {
    width: 25%;
    height: 100%;
    
    .testBorder();
    .flex(column, nowrap, flex-start, flex-end);

    .top-left-name {
        .testBorder();
        width: 100%;
        .flex(column, nowrap, center, flex-end);


    }
}


